<div class="form-style text-center">
  <h2>編集</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <div class="form-group">
      <%= f.label :フルネーム %><br />
      <%= f.text_field :fullname, autofocus: true, class: "form-control"%>
    </div>
      
    <div class="form-group">
      <%= f.label :ユーザーネーム %><br />
      <%= f.text_field :username, autofocus: true, class: "form-control"%>
    </div>
  
    <div class="form-group">
      <%= f.label :プロフィール画像 %><br />
      <%= f.file_field :image,class: "form-control" %>
    </div>
      
    <div class="form-group">
      <%= f.label :自己紹介 %><br />
      <%= f.text_area :description, autofocus: true, class: "form-control" %>
    </div>
      
    <div class="form-group">
      <%= f.label :Eメール %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>
  
    <div class="actions">
      <%= f.submit "ユーザー情報を編集する", class: "btn btn-primary" %>
    </div>
  <% end %>
  
  <div class="delete-user mt-2">
    <%= link_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "本当に削除しますか?" }, method: :delete, class: "btn btn-danger" %></p>  
  </div>
  <%= link_to "パスワードの変更", password_edit_path %>
  <div class="back-page">
    <%= link_to "前のページに戻る", :back %>
  </div>
</div>