<div class="text-center form-style">
  <h2>新規登録</h2>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  
    <div class="form-group">
      <%= f.label :フルネーム %><br />
      <%= f.text_field :fullname, autofocus: true, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <%= f.label :ユーザーネーム %><br />
      <%= f.text_field :username, autofocus: true, class: "form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :プロフィール画像 %><br />
      <%= f.file_field :image,class: "form-control" %>
    </div>
    
    <div class="form-group">
    <%= f.label :自己紹介 %><br />
    <%= f.text_area :description, autofocus: true, class: "form-control" %>
    </div>
    
    <div class="form-group">
    <%= f.label :Eメール %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>
  
    <div class="form-group">
      <%= f.label :パスワード %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上で入力)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    </div>
  
    <div class="form-group">
      <%= f.label :パスワード確認 %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>
    <p class="m-3"><strong>登録することで、<%= link_to "利用規約", rules_path %>に同意するものとします。</strong></p>
    <div class="actions mt-3">
      <%= f.submit "新規登録", class:"btn btn-success" %>
    </div>
  <% end %>
</div>