<div class="form-style text-center">
  <h2>パスワードの変更</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
  
    <div class="form-group">
      <%= f.label :新しいパスワード %>
      <%= f.password_field :password, class: "form-control" ,autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>
  
    <div class="form-group">
      <%= f.label :パスワードの再確認 %><br />
      <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
    </div>
  
    <div class="form-group">
      <%= f.label :現在のパスワード %>
      <%= f.password_field :current_password, class: "form-control", autocomplete: "current-password" %>
    </div>
    
  
    <div class="form-group">
      <%= f.submit "パスワードを変更する", class: "btn btn-success"%>
    </div>
  <% end %>
  <%= link_to "前のページに戻る", :back %>
</div>
