<% visitor = notification.visitor %>
<% visited = notification.visited %>
<div class="form-inline ">
  <%= link_to user_path(visitor) do %>
    <%= image_tag visitor.image.thumb.url(visitor).to_s, class: "profile-pic" %>
    <strong><%= "#{visitor.username}さんが" %></strong>
  <% end %>
  
  <% case notification.action %>
    <% when 'favorite' then %>
      <%= link_to 'あなたの投稿をお気に入りしました。', notification.post, style: "font-weight: bold;" %>  
    <% end %>
  
  <% case notification.action %>
    <% when 'follow' then %>
      <strong>フォローしました</strong>
    <% end %>
  
  <% case notification.action %>
    <% when 'comment' then %>
      <%= link_to "あなたの投稿にコメントしました", notification.post, style: "font-weight: bold;" %>
    <% end %>
</div>
<div class="small text-muted ml-2">
  <%= time_ago_in_words(notification.created_at).upcase %>
</div>
<hr>
