<% notifications = @notifications.where.not(visitor_id: current_user.id) %>
  <% if notifications.exists? %>
    <div class="mt-3">
      <%= render notifications %>
      <%= paginate notifications %>
    </div>
  <% else %>
    <p>通知はありません。</p>
  <% end %>