<div class="container mt-5">
  <h2 class="text-center">ユーザー一覧</h2>
  <div class="row user-all mt-5">
    <% @users.each do |user| %>
      <div class="col-3 mb-5">
        <%= link_to image_tag(user.image.url,class:"profile-pic mr-2"), user_path(user) %>
        <div class="user-name text-center">
          <strong><%= user.username %>  </strong>     
        </div>
      </div>
    <% end %>  
  </div>
  <%= paginate @users %>
</div>
