<div class="mt-5">
  <% @users.each do |user| %>
    <div class="text-center">
      <%= link_to image_tag(user.image.url,class:"profile-pic", :size =>'250x250'), user_path(user) %>
    </div>
    <div class="user-name text-center">
      <strong><%= user.username %>  </strong>     
    </div>
    <hr>
  <% end %>  
</div>
