<% provide(:title, "profile") %>
<div class="container mt-5">
  <div class="row">
    
    <div class="col-4">
      <div class="user-profile-pic pl-5">
        <%= image_tag(@user.image.url, class: "profile-pic", :size =>'150x150') %>
      </div>
    </div>
    
    <div class="col-8">
      <h2><%= @user.fullname %></h2>
      <% if current_user.id == @user.id %>
        <%= link_to "編集する" , edit_user_registration_path, class: "btn btn-info"%>
      <% end %>
      <section class="stats mb-3">
        <strong><%= link_to "お気に入り投稿#{current_user.favorites.count}", "#",class:"float-left mr-3" %></strong>
        <%= render 'shared/stats' %>
      </section>
      <p><%= @user.description %></p>
      <%= render 'follow_form' if logged_in? %>
    </div>
  </div>
  
  <div class="row mt-5 mb-5">
    <% @posts.each do |post| %>
      <div class="col-md-4 mb-5">
        <%= image_tag(post.image.url) unless post.image.blank? %>
      </div>
    <% end %>      
  </div>
</div>