<% @user ||= current_user %>
  <div class="stats mt-2">
    <strong id="following" class="stat"><%= link_to "フォロー中#{@user.following.count}", following_user_path(@user), class: "mr-3" %></strong>
    <strong id="followers" class="stat"><%= link_to "フォロワー#{@user.followers.count}", followers_user_path(@user) %></strong>
  </div>