<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center mt-5">
      <h1 class="">Welcome to Instagram</h1></h1>
      <p class="lead">instagramを使って世界と繋がろう</p>
      <%= link_to "新規登録", new_user_registration_path, class: "btn btn-success" %>
      <%= link_to "ログイン", new_user_session_path, class: "btn btn-secondary" %>
      <%= link_to "Facebookで登録", user_facebook_omniauth_authorize_path, class: "btn btn-info" %>
    </div>
  </div>
</div>
