<div class="text-center form-style">  
  <h2>ログイン</h2>
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :Eメール %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control" %>
    </div>
  
    <div class="form-group">
      <%= f.label :パスワード %><br />
      <%= f.password_field :password, autocomplete: "current-password",class: "form-control" %>
    </div>
  
    <% if devise_mapping.rememberable? %>
      <div class="form-group">
        <%= f.check_box :remember_me %>
        <%= f.label :パスワードを記憶する %>
      </div>
    <% end %>
  
    <div class="actions">
      <%= f.submit "ログイン", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
