<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-md-8">
      <% @posts.each do |post| %>
        <div class="follwing-posts mb-5">
          <div class="post-user">
            <%= link_to image_tag(post.user.image.thumb.url,class:"profile-pic mr-2"), user_path(post.user) %>
            <strong><%= post.user.username %> </strong>
          </div>
          <button type="button" data-toggle="modal" data-target=".bd-example-modal-lg-<%= post.id%>">
            <%= image_tag(post.image.url,class: "img img-fluid", :size =>'620x400') unless post.image.blank? %>
          </button>
          <div class="post-details">
            <div class="post-actions">
              <%= link_to add_post_path(post), method: :post do %>
                <i class="fa fa-heart fa-2x post-like"></i>
              <% end %>
              <%= link_to post_path(post) do %>
                <i class="fa fa-comment fa-2x post-comments"></i>
              <% end %>
            </div>
            <strong><%= link_to post.user.username,user_path(post.user) %> </strong>
            <%= post.description unless post.description.blank? %>
            
            <div class="comments-list mt-3">
              <% post.comments.each do |comment| %>
                <div class="coment-content">
                  <strong><%=link_to comment.user.username, user_path(comment.user) %></strong>
                  <%=comment.content %>
                </div>
                     
                <!--modal-->
                <div class="modal fade bd-example-modal-lg-<%= post.id %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content p-3">
                      <div class="post-user">
                        <%= link_to image_tag(post.user.image.thumb.url,class:"profile-pic mr-2"), user_path(post.user) %>
                        <strong><%= post.user.username %> </strong>
                      </div>
                      <%= image_tag(post.image.url,class: "img img-fluid", :size =>'800x350') unless post.image.blank? %>
                      <div class="modal-comments p-3">
                        <% post.comments.each do |comment| %>
                          <div class="coment-content mb-2">
                            <%= link_to image_tag(comment.user.image.thumb.url,class:"profile-pic mr-2"), user_path(post.user) %>
                            <strong><%=link_to comment.user.username, user_path(comment.user) %></strong>
                            <%=comment.content %>
                          </div>
                        <% end %>
                      </div>
                    </div><!--modal-content-->
                  </div><!--modal-dialog modal-lg-->
                </div><!--modal fade bd-example-modal-lg-->
              <% end %><!--post.comments.each do |comment|-->
            </div>
            <p class="text-muted time-ago mt-3"><%= time_ago_in_words post.created_at %>前に作成</p>
          </div>
          
          <div class="comment-box">
            <%= form_for [post, @comment] do |f| %>
              <div class="input-group">
                <%= f.text_field :content, placeholder: "コメントを入力してください....", class: "form-control post-comment" %>
                <%= f.submit "コメントする", class: "btn btn-success" %>
              </div>
            <% end %><!--form_for [post, @comment] do |f|-->
          </div>
          
        </div>
      <% end %><!--@posts.each do |post|-->
      <%= paginate @posts %>
    </div><!--col-md-8-->
    
    <div class="col-md-4">
      <p><strong><%= link_to image_tag(current_user.image.thumb.url, class:"img-border"), user_path(current_user.id) if current_user.image.present? %>
      <%= current_user.username %></strong></p>
    </div><!--col-md-4-->
  
  </div><!--row-->
</div>






