<% provide(:title, "post") %>
<div class="form-style">
  <h2>新規投稿</h2>
  <%= form_for @post do |f| %>
    <div class="form-group">
      <%= f.label :投稿画像 %>
      <%= f.file_field :image, class: "form-control" %>    
    </div>
    
    <div class="form-group">
      <%= f.label :投稿内容 %>
      <%= f.text_area :description, class: "form-control" %>    
    </div>
    
    <%= f.submit "投稿する", class: "btn btn-success"%>
    
  <% end %>
</div>