<% provide(:title, "photo") %>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      
      <div class="post-user">
        <%= link_to image_tag(@user.image.thumb.url,class:"profile-pic mr-2"), "#" %>
        <strong><%= @user.username %> </strong>
      </div>
      <div class="show-image">
        <%= image_tag(@post.image.url,class: "img img-fluid", :size =>'620x400') unless @post.image.blank? %>
      </div>
      
      <div class="post-details">
        <div class="post-actions">
          <%= link_to add_post_path(@post), method: :post do %>
            <i class="fa fa-heart fa-2x post-like"></i>
          <% end %>
          <%= link_to post_path(@post) do %>
            <i class="fa fa-comment fa-2x post-comments"></i>
          <% end %>
        </div>
        <strong><%= @user.username %> </strong>
        <%= @post.description %>
        <p class="text-muted time-ago mt-3"><%= time_ago_in_words @post.created_at %>前に作成</p>
      </div>
      
      <div class="comment-box mb-5">
        <%= form_for [@post, @comment] do |f| %>
          <div class="form-group">
            <%= f.text_area :content, placeholder: "コメントを入力してください....", class: "form-control post-comment" %>
          </div>
          <div class="action text-center">
            <%= f.submit "コメントする", class: "btn btn-success" %>
          </div>
        <% end %>    
      </div>
    </div>
    
    <div class="col-md-4">
      <h2>コメント一覧</h2>
      <% @comments.each do |comment| %>
        <div class="comment mb-3">
          <%= image_tag(comment.user.image.thumb.url, class: "profile-pic") %>
          <strong class="ml-1 mr-1"><%= comment.user.username %></strong>
          <%= comment.content %>
       </div>
      <% end %>
    </div>
  </div>
</div>



