/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome";

body{
  padding-bottom: 70px;
  background-color:#fafafa !important;
}

img{
    max-width: 100%;
    height:auto;
}

a{
  color: black;
}

button{
  padding: 0;
}

.notice {
  background-color: green;
  color: #white;
  text-align: center;
}

.alert {
  background-color: #e8aea8;
  color: #white;
  text-align: center;
}


footer{
    width: 100%;
    background-color: #89c7de;
    text-align: center;
    padding: 20px 0;
    margin-top: 100px;
    bottom: 0; /*下に固定*/
    position: fixed;
    z-index: 999;
    a{
      color: white;
      font-weight: bold;
    }
}

@media (min-width: 1200px) {
  .container {
    max-width: 960px;
  }
}