// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile-pic{
    border-radius: 50%;
}

.stats {
  a {
    color: gray;
  }
}