// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.img-border{
  border-radius: 50%;
}

.post-user{
    background-color: white;
    padding: 12px;
    border: 1px solid #ddd ;
}

.post-details{
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ddd ;
}

.post-actions{
  margin-bottom:20px;
  i{
    margin-right:10px;
    color: #ddd;
    cursor: pointer;
  }
  
  i:hover{
    color: #999;
  }
  i.active{
    color: #555;
  }
}

.time-ago{
  font-size: 12px;
}