<div class="text-center mt-5">
  <h2>利用規約</h2>
  <p>1.利用規約</p>
  <p>2.利用規約</p> 
  <p>3.利用規約</p> 
  <p>4.利用規約</p> 
  <p>5.利用規約</p> 
  <p>6.利用規約</p> 
  <p>7.利用規約</p> 
  <p>8.利用規約</p> 
  <p>9.利用規約</p> 
  <p>10.利用規約</p> 
</div>
