<div class="mt-1 mr-5">
  <%= form_tag(search_path, :method => "get") do %>
    <%= text_field_tag :search, '', placeholder: 'ユーザーを検索' %> 
    <%= submit_tag "検索" ,:username => nil %> 
  <% end %> 
</div>
<li class="nav-item">
  <%= link_to "トップ", posts_path, class: "nav-link" %>
</li>
<li class="nav-item">
  <%= link_to "ユーザー", users_path, class: "nav-link" %>
</li>
<li class="nav-item">
  <%= link_to "通知", notifications_path, class: "nav-link" %>
</li>
<li class="nav-item">
  <%= link_to "プロフィール", user_path(current_user.id), class: "nav-link" %>
 </li>
<li class="nav-item">
  <%= link_to "ログアウト", destroy_user_session_path , method: :delete ,class: "nav-link" %>
</li>