<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= yield(:title) %> |Instagram</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag    "application", media: "all" %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="#">Instagram</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <%= render "layouts/users_nav" %>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>  
    <% flash.each do |message_type, message| %>
      <div class="text-center alert alert-<%= message_type %>">
        <%= message %>
      </div>
    <% end %>
    <%= yield %>
    <% if user_signed_in? %>
      <footer>
        <%= link_to "写真を投稿する", new_post_path %>
      </footer>
    <% end %>
  </body>
</html